<header class="p-3 color-custom">
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-white">
            Welcome
          </a></li>
          <li><a href="home" class="nav-link px-2 text-white">Home</a></li>
        </ul>

        <div class="text-end">
          <img id="logo"
          src="https://media.licdn.com/dms/image/C4D0BAQGN6PO6kMDBuA/company-logo_200_200/0/1657805371089?e=2147483647&v=beta&t=NO7LJyFlrJGLARsWLUWrgjjjlcfi-ZOWcfTlc5Gn6kA" alt="logo">
        </div>

      </div>

    </div>
  </header>